{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">The Best Book Club Books to Get You Talking in 2023</h1>

        <p class="pt-4">
            It seems that everybody and their dog has a book club these days. But whether you are a seasoned old-timer,
            or you started up an online book club in 2020, you are probably facing the same question: “What should we
            read next”?
            <br>
            When decision fatigue sets in, picking the next group read can be the hardest part of the process. But fear
            not, because we are here to help. Whether you are looking for cutting-edge releases new for 2023 or classic
            recommendations, we have selected some of the very best book club books sure to spark conversation. So get
            that
            coffee brewing and have your page tabs handy, because we are ready to dive in!
        </p>
    </section>
    
    <section>
        <div class="book-cont">
            {% for book in books %}
            <a href="{% url 'book_detail' book.id %}" class="img-container">
                <img src="{{book.image.url}}" alt="{{book.image_alt}}" class="img-home">
            </a>
            {% endfor %}
        </div>


        {% endblock %}