@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

:root {
    /**Fonts**/
    --title: 'Roboto Slab', sans;
    --main-font: 'Roboto', sans;
    
    /*Colours*/
    --off_white: #e6e6e6;
    --blue: #0c056d;
    --white: #ffffff;
    --light_teal: #009c97;
    --blue-hue: #cecde1;

    /* Utils */
    --sm_box_shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--blue-hue);
}
.logo {
    border: 1px solid var(--off_white);
    border-radius: 5px;
    width: auto;
}

footer {
    flex-shrink: 0;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Forms */

.form {
    width:100%;
    box-shadow: var(--sm_box_shadow);
    background-color: var(--off_white);
    margin: 3% auto;
    border-radius: 5px;
    border-color: var(--blue);
    b
}

/* Header */

.navbar {
    background-color: var(--blue);
    box-shadow: var(--sm_box_shadow);
}

a.nav-link {
    color: var(--white);
}

.navbar-nav {
    color:var(--white);
}

.navbar-nav .nav-link.active {
    color:var(--white);
    
}

img.logo {
    width: 18.75rem;
    height: 11rem;
}

.active {
    border-bottom: 2px solid var(--white);
    font-weight: 500;
}

/* Books */

.card {
    height:95%;
    margin-top: 1rem;
}

.books {
    text-decoration: none;
    color: var(--blue)
}

.books:hover {
    cursor: pointer;
    color: var(--light_teal);
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--off_white);
}

.book-container {
    display: flex;
    flex-direction: column;
}

.description, .comments, .book-detail {
    width: 100%;
}

.book-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-pic {
    width: 100%;
    height:auto;
}

.book-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--off_white);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--blue);
    box-shadow: var(--sm_box_shadow);
    background-color: var(--off_white);
}

a .img-container:hover {
    color: var(--light_teal);
}

.img-container img {
    width: 75%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #00000030;
    position: absolute;
    top: 50%;
    left:50%
    
}

.user-books {
    width: 100%;
    top: 50%;
    left:50%
    background-color: var(--off_white);
}
/* Media */

@media screen and (min-width: 62.5em) {
    .book-img {
        width:40%;
        margin: 0 auto;
    }

    .book-detail {
        width: 60%;
        padding: 2rem;
    }

    .book-container {
        flex-direction: row;
    }
    .book-info {
        flex-direction: row;
        border:1px solid var(--blue);
    }
}

@media screen and (min-width: 40em) {

    .form {
        width: 50%;
    }

    .book-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

