{% extends "base.html" %}

{% block title %}Book Detail - {{book.title}}{% endblock%}

{% block content %}

<div class="container">
    <div class="book-info mt-3 p-1">
        <div class="book-img">
            <img src="{{ book.image.url }}" alt="{{ book.image_alt}}" class="book-pic">
        </div>
        <div class="book-detail">
            <h1 class="text-center">{{ book.title}}</h1>
            <p class="text-center">Posted by {{book.user}} on {{book.posted_date}}</p>
            <hr>
            <p><strong>Author: </strong>{{book.author}}</p>
            <p><strong>Book Type: </strong>{{book.book_type|title}}</p>
            <div class="description p-3">
                <h2>Description</h2>
                <p>{{ book.description|safe }}</p>
            </div>
            <div class="comments p-3">
                <h2>Review</h2>
                <p>{{ book.comments|safe }}</p>
            </div>
            {% if request.user == book.user %}
            <div class="text-center">
                <a href="{% url 'edit_review' book.id %}" class="btn btn-secondary w-25">Edit</a>
                <a href="{% url 'confirm_delete' book.id %}" class="btn btn-secondary w-25">Delete</a>
            </div>

            {% endif %}
        </div>
    </div>
    <div class="book-container">
        
        
    </div>
</div>


{% endblock %}