{% extends 'base.html' %}

{% block title %}My Books{% endblock %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center pb-2 pt-5">
    <h1>Your Books</h1>
</div>
<div class="container d-flex align-items-center justify-content-center">
    {% if user_books %}
    <ul>
        {% for book in user_books %}
        <li>{{ book.title }} by {{ book.author }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No books added yet.</p>
    {% endif %}
</div>


{% endblock %}